.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 38vh;
	background: no-repeat url("../images/bg-mobile-light.jpg");
	background-position: center;
	background-size: cover;
	&.dark-theme {
		background: no-repeat url("../images/bg-mobile-dark.jpg");
		background-position: center;
		background-size: cover;
	}

	&__group {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
