.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 40vh;
	background: no-repeat url("../images/bg-mobile-light.jpg");
	background-position: center 0%;
	background-size: cover;

	&__group {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
