:root {
	--border: #ccc;
	--light-grayish-blue: hsl(236, 33%, 92%);
	--dark-grayish-blue: hsl(236, 9%, 61%);
	--gray: hsl(0, 0%, 98%);
	--bright-blue: hsl(220, 98%, 61%);
	--background-color: hsl(236, 33%, 92%);
	--dark-toggle: hsl(233, 14%, 35%);
	--btn-active: hsl(276, 78%, 69%);
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(tab-land) {
		//width  < 1200 ?
		font-size: 56.25%; //9px  => 9px/16px
	}

	@include respond(tab-port) {
		//width  < 900 ?
		font-size: 50%; //8px  => 8px/16px
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem  = 12  =>  12px/16px
	}
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
	background-color: var(--background-color);
}

body.dark-theme {
	--border: hsl(233, 14%, 35%);
	--light-grayish-blue: hsl(0, 0%, 61%);
	--dark-grayish-blue: hsl(236, 9%, 61%);
	--gray: hsl(235, 24%, 19%);
	--bright-blue: hsl(220, 98%, 61%);
	--btn-active: hsl(276, 78%, 69%);
	--background-color: hsl(235, 21%, 11%);
	--dark-toggle: hsl(233, 14%, 35%);
	--dark-background-color: hsl(235, 24%, 19%);
}

.attribution {
	font-size: 14px;
	text-align: center;
	color: var(--dark-grayish-blue);
}
.attribution a {
	color: var(--bright-blue);
}

main {
	position: relative;
	color: inherit;
	max-width: 50rem;
	margin: 0 auto;
}
