.title {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.5rem;
	font-size: 4rem;
	margin-left: 1rem;
}

.instruction {
	font-size: 1.8rem;
	text-align: center;
	padding: 3rem;
	color: var(--dark-grayish-blue);
}
