.todo {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	max-width: 50rem;

	&__input {
		position: relative;
		padding: 2rem;
		width: 94%;
		color: var(--text-color);
		border-radius: 10px;
		border: none;
		margin: 0 auto;
		font-family: inherit;
		font-size: 2rem;
		padding-left: 7rem;
		z-index: 2;
		background-color: var(--gray);
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: var(--dark-grayish-blue);
		}
		&::-moz-placeholder {
			color: var(--dark-grayish-blue);
		}
		&:-ms-input-placeholder {
			color: var(--dark-grayish-blue);
		}
		&::-ms-input-placeholder {
			color: var(--dark-grayish-blue);
		}
		&::placeholder {
			color: var(--dark-grayish-blue);
		}
	}
	&__btn {
		position: absolute;
		top: 25%;
		left: 7.5%;
		height: 3rem;
		width: 3rem;
		border: 1px solid var(--border);
		background: transparent;
		border-radius: 50%;
		z-index: 9999;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
	&__container {
		position: relative;
		display: flex;
		color: inherit;
		flex-direction: column;
		background-color: var(--gray);
		min-height: 30rem;
		margin: 0 auto;
		width: 94%;
		margin-top: 2rem;
		border-radius: 10px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	// ul Item
	&__list {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		width: 100%;
		list-style-type: none;
		padding: 0 0 2rem;
		color: inherit;
	}
	// Li Item
	&__listItem {
		display: flex;
		width: 100%;
		align-items: center;
		position: relative;
		padding: 2rem;
		font-size: 1.8rem;
		color: var(--text-color);
		border-bottom: 1px solid var(--border);
		cursor: -webkit-grab;
		cursor: grab;
	}

	&__notifications {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
		padding: 2.5rem;
		color: var(--dark-grayish-blue);
	}
}

.strike-through {
	color: inherit;
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
}

.toggle {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	color: inherit;
	z-index: 9999;
	margin-right: 2rem;
	border: 1px solid var(--border);
	will-change: background-image;
	cursor: pointer;
	transition: transform 0.2s linear;
}
.show-completed {
	background-image: url("../images/icon-check.svg"),
		linear-gradient(to right, rgb(87, 221, 255), rgb(191, 88, 243));
	background-position: center;
	background-size: center;
	background-repeat: no-repeat;
}

.items__left {
	@include respond(tab-land) {
		font-size: 1.8rem;
		flex: 0 0 50%;
	}
	flex: 0 0 20%;
	font-size: 1.3rem;
	color: inherit;
	font-weight: 600;
}

.clear {
	border: none;
	background: transparent;
	@include respond(tab-land) {
		font-size: 1.8rem;
	}
	font-size: 1.3rem;
	color: inherit;
	font-family: inherit;
	text-transform: capitalize;
	cursor: pointer;
	font-weight: 600;
	&:hover {
		color: var(--text-color);
	}
}
.remove-item {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	margin-left: auto;
	margin-bottom: 0.2rem;
	background-image: url("../images/icon-cross.svg");
	background-size: contain;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	&:hover {
		transform: scale(1.13);
	}
}

.btn__theme {
	// align-self: center;
	margin-right: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}

.todo__btn:hover,
.toggle:hover {
	border-radius: 50%; /*1*/
	border: 1px solid transparent; /*2*/
	background: linear-gradient(to right, rgb(87, 221, 255), rgb(191, 88, 243))
		border-box; /*3*/
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out; /*5'*/
	mask-composite: exclude;
}

.toggle.show-completed.completed:hover {
	border: initial; /*2*/
	background-image: url("../images/icon-check.svg"),
		linear-gradient(to right, rgb(87, 221, 255), rgb(191, 88, 243));
	background-position: center;
	background-size: center;
	background-repeat: no-repeat;
	-webkit-mask: initial;
	-webkit-mask-composite: initial; /*5'*/
	mask-composite: initial;
	border: 1px solid var(--border);
	transform: translateY(-1px);
}
