.todo {
	position: relative;
	width: 100%;
	text-align: center;
	&__input {
		position: relative;
		padding: 2.4rem;
		width: 90%;
		border-radius: 10px;
		border: none;
		margin: 0 auto;
		font-family: inherit;
		padding-left: 7rem;
		z-index: 2;
		&:focus {
			border: none;
			outline: none;
		}
	}
	&__btn {
		position: absolute;
		top: 25%;
		left: 10%;
		height: 3rem;
		width: 3rem;
		border: 1px solid #ccc;
		background: transparent;
		border-radius: 50%;
		z-index: 9999;
	}
	&__container {
		display: flex;
		flex-direction: column;
		background-color: $light-gray;
		min-height: 30rem;
		margin: 0 auto;
		margin-top: -14rem;
		width: 90%;
		border-radius: 10px;
		border: 1px solid #ccc;
	}
	// ul Item
	&__list {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		width: 100%;
		list-style-type: none;
		padding: 0 0 2rem;
	}
	// Li Item
	&__listItem {
		display: flex;
		align-items: center;
		position: relative;
		padding: 2rem;
		font-size: 1.8rem;
		&:not(:first-of-type) {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
	}

	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
		padding: 2.5rem;
	}
}

.strike-through {
	color: $dark-grayish-blue;
	text-decoration: line-through;
}

.toggle {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	z-index: 9999;
	margin-right: 2rem;
	border: 1px solid #ccc;
}
.show-completed {
	background-image: linear-gradient(
			to right,
			rgba(87, 221, 255, 0.671),
			rgba(191, 88, 243, 0.637)
		),
		url("../images/icon-check.svg");
	background-position: center;
	background-size: center;
	background-repeat: no-repeat;
}

.items__left {
	font-size: 2rem;
	color: $dark-grayish-blue;
}

.clear {
	border: none;
	background: transparent;
	font-size: 2rem;
	color: $dark-grayish-blue;
	font-family: inherit;
	text-transform: capitalize;
}
.remove-item {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	margin-left: auto;
	margin-bottom: 0.2rem;
	background-image: url("../images/icon-cross.svg");
	background-size: contain;
}

.btn__theme {
	align-self: center;
	margin-right: 5rem;
	margin-bottom: 1rem;
}
