.todo {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	max-width: 50rem;
	margin: 0 auto;
	&__input {
		position: relative;
		padding: 2.4rem;
		width: 90%;
		color: inherit;
		border-radius: 10px;
		border: none;
		margin: 0 auto;
		font-family: inherit;
		font-size: 2rem;
		padding-left: 7rem;
		z-index: 2;
		color: var(--dark-grayish-blue);
		background-color: var(--gray);
		&:focus {
			outline: none;
		}
	}
	&__btn {
		position: absolute;
		top: 25%;
		left: 10%;
		height: 3rem;
		width: 3rem;
		border: 1px solid var(--border);
		background: transparent;
		border-radius: 50%;
		z-index: 9999;
		&:focus {
			outline: none;
		}
	}
	&__container {
		display: flex;
		color: inherit;
		flex-direction: column;
		background-color: var(--gray);
		min-height: 30rem;
		margin: 0 auto;
		width: 90%;
		border-radius: 10px;
		position: relative;
		top: -8rem;
		@include respond(tab-land) {
			top: -8rem;
		}

		@include respond(tab-port) {
			top: -14rem;
		}

		@include respond(big-desktop) {
			top: -3rem;
		}
	}
	// ul Item
	&__list {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
		width: 100%;
		list-style-type: none;
		padding: 0 0 2rem;
		color: inherit;
	}
	// Li Item
	&__listItem {
		display: flex;
		align-items: center;
		position: relative;
		padding: 2rem;
		font-size: 1.8rem;
		color: var(--dark-grayish-blue);
		border-bottom: 1px solid var(--border);
	}

	&__notifications {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
		padding: 2.5rem;
		color: var(--dark-grayish-blue);
	}
}

.strike-through {
	color: inherit;
	text-decoration: line-through;
}

.toggle {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	color: inherit;
	z-index: 9999;
	margin-right: 2rem;
	border: 1px solid var(--border);
	will-change: background-image;
}
.show-completed {
	background-image: url("../images/icon-check.svg"),
		linear-gradient(to right, rgb(87, 221, 255), rgb(191, 88, 243));
	background-position: center;
	background-size: center;
	background-repeat: no-repeat;
}

.items__left {
	font-size: 2rem;
	color: inherit;
}

.clear {
	border: none;
	background: transparent;
	font-size: 2rem;
	color: inherit;
	font-family: inherit;
	text-transform: capitalize;
	cursor: pointer;
}
.remove-item {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	margin-left: auto;
	margin-bottom: 0.2rem;
	background-image: url("../images/icon-cross.svg");
	background-size: contain;
}

.btn__theme {
	align-self: center;
	margin-right: 5rem;
	margin-bottom: 1rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}
